header{
    padding: 0 12vw;
    height: 4rem;
    border-bottom:1px solid #DEDEDE;
}

.nav-logo > img{
    width: 11.5rem;
}
.nav-links > button{
    margin: 0px .62vw;
}
.menu-dropdown {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 60px;
    right: 24px;
    border-radius: 4px;
    width: 180px;
    height: 90px;
    background-color: #ffffff;
    box-shadow: 0px 2px 3px 1px #cccccc;
    z-index: 1200;
}
.menu-text {
    margin: 10px 0 0 0;
    color: #272727;
    padding: 6px 16px;
    font-size: 14px;
    font-weight: 500;
    background-color: #ffffff;
}
.menu-text:hover {
    background-color:#0392592f;
    cursor: pointer;
}
.log{
    display: none;
    right: 26vw;
}
.log1{
    display: none;
    right: 15vw;
}
@media (max-width: 900px){
    header{
        padding: 0 40px;
    }
    .nav-logo > img{
        width: 11.5rem;
    }
    .nav-links > button{
        margin: 0px;
    }
    .nav-links > button + .sm-primary {
        padding: 8px 8px;
    }
}
@media (max-width: 600px){
    header{
        padding: 0 8px;
    }

}