*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    font-size:16px;
    --primary-clr:#00814D;
    --black-clr:#272727;
    --typo-black: #333B38;
}
.green{
    color:#00814D;
    border-bottom: 1px solid #00814D;
}
.purple{
    color:#A203DA;
    border-bottom: 1px solid #A203DA;
}
body{
    font-family:Arial, Helvetica, sans-serif;
    font-display: swap
}
.container{
    width: 100%;
}
.mag-l-16{
    margin-left: 16px;
}
.mgr-r-8{
    margin-right: 8px;
}
.crs-pntr{
    cursor: pointer;
}
.warp{
    flex-wrap: wrap;
}
.row,.col{
    display:flex;
}
.col{
    flex-direction: column;
}
.jst-ctr{
    justify-content: center;
}
.jst-spc-ard{
    justify-content: space-around;
}
.jst-spc-btw{
    justify-content: space-between;
}

.alg-ctr{
    align-items: center;
}
.one{
    width:8.333%
}
.two{
    width: 16.66%;
}
.three{
    width: 24.99%;
}
.four{
    width: 33.32%;
}
.five{
    width: 41.25%;
}
.six{
    width: 50%;
}
.seven{
    width: 58.31%;
}
.eight{
    width: 66.66%;
}
.nine{
    width: 74.66%;
}
.ten{
    width: 83.33%;
}
.eleven{
    width: 91.52%;
}
.twelve{
    width: 100%;
}
button{
    font: 700 0.875rem/1.28em 'Lato', sans-serif;
    letter-spacing: 0.04em;
    appearance: none;
    border-radius:4px;
    border: none;
    cursor: pointer;
}
button:focus{
    outline:none;
}
.primary{
    background-color: var(--primary-clr);
    color: #ffffff;
    margin-top: 24px;
    padding: 13px 25px;
    max-width: 192px;
    margin-right: 10px;
}
.primary-btn1{
    background-color: #ffffff;
    color:  #00814D;
    margin-top: 24px;
    padding: 12px 15px;
    max-width: 192px;
    border: 1px solid #BCBCBC;
    text-align: center;

}
.primary-green{
    background-color: #00814D;
    color:  #ffffff;
    margin-top: 24px;
    padding: 15px 15px;
    max-width: 192px;
    text-align: center;
    margin-right: 10px;

}
.btn-sec{
    border-bottom: 1px solid #DCDCDC;
   
    
    
}
.text-purple{
    color: #A203DA!important;
    border-bottom: 1px solid #A203DA;
}
.text-darkgreen{
    color: #333B38!important;
    border-bottom: 1px solid #333B38;

}
.text-orange{
    color:#ED984B !important;
    border-bottom: 1px solid  #ED984B;


}
.primary-purple{
border-radius: 4px;
/* padding: 13px, 25px, 13px, 25px; */
background: #A203DA;
box-shadow: 0px 4px 8px 2px rgba(0, 0, 0, 0.08);
border-radius: 4px;
color:  #ffffff;
 margin-top: 24px;
padding: 10px 15px;
max-width: 192px;
border: 1px solid #BCBCBC;
text-align: center;

}
.sm-primary{
    background-color: var(--primary-clr);
    color: #ffffff;
    padding: 13px 25px;
    margin-top: 18px;
    font-size: 14px;
    max-width: 192px;
    margin-right: 10px;
   

}
.primary-orange{
    background-color:  #ED984B;
    color:#ffffff;
    margin-top: 24px;
    padding: 13px 25px;
    max-width: 192px;
    text-align: center;
    margin-right: 10px;

}
.primary-fg{
    background-color:  #224145;
    color:#ffffff;
    margin-top: 24px;
    padding: 13px 25px;
    max-width: 192px;
    text-align: center;
    margin-right: 10px;

}
.sm-un-contained{
    padding: 15px;
    background: none;
    color: #272727;
    font-family: Lato;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    letter-spacing: 0em;
}
.sm-un-button{
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 19px;
    letter-spacing: 0em;
    background-color: #ffffff;
    color: #888888;
    padding: 8px;
    border-radius: 0px;
    padding-bottom: 20px;
    min-height: 68px;
    justify-content: center;

}
.Pro{
    color: var(--primary-clr);
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 144%;
    
}

/* 
.sm-un-button:active{
font-family: 'Lato', sans-serif;
font-style: normal;
font-weight: bold;
font-size: 16px;
line-height: 19px;
color: #00814D;


} */


h1,h2,h3,h4,h5,h6,p{
    color: var(--typo-black);
}
h4{
    font-size: 1rem;
    line-height: 128%;
}
h6{
    font-size: 0.75rem;
    color: #4E4E4E;
    font-weight: 400;
}
.txt-ctr{
    text-align: center;
}
ul{
    list-style: none;
}
li{
    color: #4E4E4E;
    list-style: none;
    margin-bottom: 16px;
}
a,a:hover,a:focus,a:active,a:visited{
    color: inherit;
    text-decoration: none;
}
.hidden{
    display: none;
}
.sm-dis{
    display: none;
}
.icon-btn{
    background: transparent;
    padding: 4px;
    padding-left: 10px;
}
@media (max-width: 900px){
    :root{
        font-size: 12px;
    }
    /* .one,.two,.three,.four,.five,.six,.seven,.eight,.nine,.ten,.eleven,.twelve{
        width: auto;
    } */
    .md-one{
        width:8.333%
    }
    .md-two{
        width: 16.66%;
    }
    .md-three{
        width: 24.99%;
    }
    .md-four{
        width: 33.32%;
    }
    .md-five{
        width: 41.25%;
    }
    .md-six{
        width: 50%;
    }
    .md-seven{
        width: 58.31%;
    }
    .md-eight{
        width: 66.66%;
    }
    .md-nine{
        width: 74.66%;
    }
    .md-ten{
        width: 83.33%;
    }
    .md-eleven{
        width: 91.52%;
    }
    .md-twelve{
        width: 100%;
    }
    .md-row{
        flex-direction: row;
    }
    .md-col{
        flex-direction: column;
    }
    .md-hidden{
        display: none;
    }
}
@media (max-width: 600px){
        /* .md-one,.md-two,.md-three,.md-four,.md-five,.md-six,.md-seven,.md-eight,.md-nine,.md-ten,.md-eleven,.md-twelve{
            width: auto;
        } */
    .sm-one{
        width:8.333%
    }
    .sm-two{
        width: 16.66%;
    }
    .sm-three{
        width: 24.99%;
    }
    .sm-four{
        width: 33.32%;
    }
    .sm-five{
        width: 41.25%;
    }
    .sm-six{
        width: 50%;
    }
    .sm-seven{
        width: 58.31%;
    }
    .sm-eight{
        width: 66.66%;
    }
    .sm-nine{
        width: 74.66%;
    }
    .sm-ten{
        width: 83.33%;
    }
    .sm-eleven{
        width: 91.52%;
    }
    .sm-twelve{
        width: 100%;
    }
    .sm-row{
        flex-direction: row;
    }
    .sm-col{
        flex-direction: column;
    }
    .sm-row{
        flex-direction: row;
    }
    .sm-col{
        flex-direction: column;
    }
    .sm-hidden{
        display: none;
    }
    .sm-dis{
        display: flex;
    }
    .sm-alg-ctr{
        text-align: center;
    }
    .sm-flx-ord-2{
        order: 2;
    }
    .sm-jst-ctr{
        justify-content: center;
    }
    .sm-jst-spc-ard{
        justify-content: space-around;
    }
    .sm-jst-spc-btw{
        justify-content: space-between;
    }
    .sm-alg-ctr{
        align-items: center;
    }
    li{
        margin-bottom: 8px;
    }
    button{
        font-size: 12.3px;
    }
    .sm-primary{
        padding:10px 8px ;
        font-size: 12px;
    }
    .sm-scroll{
        overflow: auto;
        white-space: nowrap;
        overflow-x: scroll;
        overflow-y: hidden;
    }
    .sm-scroll::-webkit-scrollbar {
        width:0px;
        height: 0px;
      }
    .sm-margin{
        margin-left: 15px;
    }
    .sm-sm-margin{
        margin-left: 10px;
    }
   .sm-un-button {
        font-size: 12px
    
    }
    .sm-warp{
        flex-wrap: wrap;
    }
    .sm-col-rev{
        flex-direction: column-reverse;
    }
    .learn-margin{
        margin-right: 30px
    }
    .primary{
        padding:10px 8px 

    }
    .primary-btn1{
        padding:10px 8px 

    }
    .primary-green{
        padding:10px 8px 
    }
}

/* @media (max-width: 390px){ 
    .sm-margin{
        margin-left: 30px;
    }

} */
@media (max-width: 400px){ 
    /* .sm-margin{
        margin-left: 10px;
    } */
    /* .btn-sec{
        padding-left: 50px;
    } */
    

}
